.SideBar {
    display: flex;
    flex-direction: column;

    padding: var(--standart-ident);
    max-width: var(--sidebar-width);
    width: 100%;

    background-color: var(--contrast-bg-color);
    height: calc(100vh - var(--appbar-height));

    transition: max-width 0.3s;
}

.links {
    display: flex;
    flex-direction: column;

    margin-top: var(--standart-ident);
}

.collapsed {
    align-items: center;

    max-width: var(--sidebar-collapsed-width);
}

.burger {
    fill: var(--contrast-primary-color);
}
