.AppBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--appbar-height);
    padding: 0 20px;

    background-color: var(--contrast-bg-color);
}

.switchers {
    display: flex;
    align-items: center;
}

.langSwitcher {
    margin-right: var(--standart-ident);
}

.contrast {
    color: var(--contrast-primary-color);
}
