.app.dark {
    --bg-color: #39393b;
    --contrast-bg-color: #174644;

    --primary-color: #dae9f1;
    --secondary-color: #b4b7b9;
    --contrast-primary-color: #dae9f1;
    --contrast-secondary-color: #b4b7b9;
}
