.app.light {
    --bg-color: #dadff7;
    --contrast-bg-color: #5a7d7c;

    --primary-color: #232c33;
    --secondary-color: #dae9f1;
    --contrast-primary-color: #dae9f1;
    --contrast-secondary-color: #c9cbcc;
}
