.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: var(--navbar-height);
    padding: 0 20px;

    background-color: var(--contrast-bg-color);
}

.Links {
    display: flex;
}

.contrast {
    color: var(--contrast-primary-color);
}
