.Modal {
    padding: var(--standart-ident);

    background: var(--bg-color);

    border-radius: var(--border-radius-c);

    cursor: default;

    transform: scale(0.1);
    opacity: 0;

    transition: all var(--default-transition-delay) linear;
}

.Overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    inset: 0;
    z-index: -1;

    opacity: 0;

    background: var(--overlay-color);

    cursor: pointer;

    transition: all var(--default-transition-delay) linear;

    &.isOpen {
        opacity: 1;
        z-index: var(--overlay-z-index);

        .Modal {
            opacity: 1;
            transform: scale(1);
        }
    }
}
